In [2]:
#importing th enecessary libraries
from pandas_datareader import data, wb
import pandas as pd
import numpy as np
import fix_yahoo_finance as yf
yf.pdr_override() 
import datetime
%matplotlib inline

In [11]:
'''
We need to get data using pandas datareader. We will get stock information for the following banks:

Bank of America
CitiGroup
Goldman Sachs
JPMorgan Chase
Morgan Stanley
Wells Fargo
'''

#setting the start and end date
start = datetime.datetime(2009, 1, 1)
end = datetime.datetime(2019, 1, 1)

In [12]:
#Getting the data using pandas-datareader for different banks

#For Bank of America
BAC = data.get_data_yahoo("BAC", start, end)

#For CitiGroup
CG = data.get_data_yahoo("C", start, end)

#For Goldman Sachs
GS = data.get_data_yahoo("GS", start, end)

#For JPMorgan Chase
JPM = data.get_data_yahoo("JPM", start, end)

#For Morgan Stanley
MS = data.get_data_yahoo("MS", start, end)

#For Wells Fargo
WFC = data.get_data_yahoo("WFC", start, end)

[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded
[*********************100%***********************]  1 of 1 downloaded

In [13]:
#creating a list of ticker symbols
tickers = ['BAC', 'CG', 'GS', 'JPM', 'MS', 'WFC']

In [14]:
#concatenating along columns with tickers as keys
bank_stocks = pd.concat([BAC, CG, GS, JPM, MS, WFC], axis=1, keys=tickers)

In [15]:
#checking the head of the new concatenated DF
bank_stocks.head()

              BAC                                                    CG  \
             Open   High    Low  Close  Adj Close     Volume       Open
Date
2008-12-31  13.09  14.12  13.00  14.08  12.812518  113351000  67.199997
2009-01-02  13.92  14.57  13.71  14.33  13.040014   86580700  68.699997
2009-01-05  14.38  14.55  13.89  13.98  12.721521   93640500  71.199997
2009-01-06  14.27  14.81  14.07  14.28  12.994514  111015400  72.900002
2009-01-07  14.11  14.13  13.61  13.71  12.475824  112810000  72.199997

                                               ...            MS             \
                 High        Low      Close    ...           Low      Close
Date                                           ...
2008-12-31  70.400002  66.199997  67.099998    ...     15.030000  16.040001
2009-01-02  71.599998  67.500000  71.400002    ...     15.750000  16.990000
2009-01-05  75.000000  70.300003  70.800003    ...     16.780001  17.620001
2009-01-06  75.900002  72.800003  74.599998    ...     18.000000  19.580000
2009-01-07  74.400002  70.800003  71.500000    ...     17.760000  18.100000

                                       WFC                                   \
            Adj Close    Volume       Open       High        Low      Close
Date
2008-12-31  13.697665  15006200  28.690001  30.490000  28.200001  29.480000
2009-01-02  14.508931  20238000  29.180000  30.469999  28.670000  30.000000
2009-01-05  15.046933  25421400  29.740000  29.790001  28.059999  28.059999
2009-01-06  16.720711  38858500  28.670000  28.820000  27.290001  27.540001
2009-01-07  15.456839  30848100  27.080000  27.180000  23.620001  25.870001


            Adj Close    Volume
Date
2008-12-31  22.838629  45109700
2009-01-02  23.241486  36522300
2009-01-05  21.738541  43614200
2009-01-06  21.335688  54222900
2009-01-07  20.041903  52631000

[5 rows x 36 columns]

In [16]:
#setting the columns name
bank_stocks.columns.names = ['Bank Ticker','Stock Info']

In [17]:
#checking the head
bank_stocks.head()

Bank Ticker    BAC                                                    CG  \
Stock Info    Open   High    Low  Close  Adj Close     Volume       Open
Date
2008-12-31   13.09  14.12  13.00  14.08  12.812518  113351000  67.199997
2009-01-02   13.92  14.57  13.71  14.33  13.040014   86580700  68.699997
2009-01-05   14.38  14.55  13.89  13.98  12.721521   93640500  71.199997
2009-01-06   14.27  14.81  14.07  14.28  12.994514  111015400  72.900002
2009-01-07   14.11  14.13  13.61  13.71  12.475824  112810000  72.199997

Bank Ticker                                     ...            MS             \
Stock Info        High        Low      Close    ...           Low      Close
Date                                            ...
2008-12-31   70.400002  66.199997  67.099998    ...     15.030000  16.040001
2009-01-02   71.599998  67.500000  71.400002    ...     15.750000  16.990000
2009-01-05   75.000000  70.300003  70.800003    ...     16.780001  17.620001
2009-01-06   75.900002  72.800003  74.599998    ...     18.000000  19.580000
2009-01-07   74.400002  70.800003  71.500000    ...     17.760000  18.100000

Bank Ticker                             WFC                                   \
Stock Info   Adj Close    Volume       Open       High        Low      Close
Date
2008-12-31   13.697665  15006200  28.690001  30.490000  28.200001  29.480000
2009-01-02   14.508931  20238000  29.180000  30.469999  28.670000  30.000000
2009-01-05   15.046933  25421400  29.740000  29.790001  28.059999  28.059999
2009-01-06   16.720711  38858500  28.670000  28.820000  27.290001  27.540001
2009-01-07   15.456839  30848100  27.080000  27.180000  23.620001  25.870001

Bank Ticker
Stock Info   Adj Close    Volume
Date
2008-12-31   22.838629  45109700
2009-01-02   23.241486  36522300
2009-01-05   21.738541  43614200
2009-01-06   21.335688  54222900
2009-01-07   20.041903  52631000

[5 rows x 36 columns]

In [18]:
#checking the max Closing price for each bank's stock
bank_stocks.xs(key='Close', axis=1, level='Stock Info').max()

Bank Ticker
BAC     32.840000
CG      80.080002
GS     273.380005
JPM    118.769997
MS      58.910000
WFC     65.930000
dtype: float64

** Creating a new empty DataFrame called returns. This dataframe will contain the returns for each bank's stock. returns will be typically defined by:**

$$r_t = \frac{p_t - p_{t-1}}{p_{t-1}} = \frac{p_t}{p_{t-1}} - 1$$